body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #FFF;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222831;
    padding: 15px 20px;
    font-family: 'Times New Roman', Times, serif;
}

.navbar-logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: white;
}

.navbar-logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.navbar-page-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar-page-links li {
    margin: 0 10px;
}

.navbar-page-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s;
}

.navbar-page-links a:hover {
    color: #00ADB5;
}

.form-box {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 500px;
    width: 100%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.form-box h3 {
    margin: 0 0 10px;
    font-size: 18px;
    color: #333;
}

.form-box input[type="text"],
.form-box input[type="email"],
.form-box textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-box textarea {
    height: 80px;
    resize: vertical;
}

.form-box button {
    background-color: #222831;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.form-box button:hover {
    background-color: #00ADB5;
}