body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #FFF;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222831;
    padding: 15px 20px;
    font-family: 'Times New Roman', Times, serif;
}

.navbar-logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: white;
}

.navbar-logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.navbar-page-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar-page-links li {
    margin: 0 10px;
}

.navbar-page-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s;
}

.navbar-page-links a:hover {
    color: #00ADB5;
}

.main-header{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 50px;
    color: #222831;
}

.main-header:hover{
    color: #00ADB5;
}

.box-container{
    display: flex;
    justify-content: center;
}

.box{
    height: 300px;
    width: 250px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 50px;
    text-align: center;
    padding: 15px;
    background-color: #00ADB5;
}

.box:hover{
    box-shadow: #222831 2px 2px;
}

.box img{
    height: 50px;
    width: 50px;
    margin-top: 20px;
}

.box img:hover{
    height: 70px;
    width: 70px;
}

.box h3{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}
.box p{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    color: #222831;
}